<div class="mt-5">
    <div class="container-fluid">
        
        <div class="row">
                        
            <div class="col">
                <div class="card text-dark bg-light ">                    
                    <div class="card-body back-white">                        
                        <h5 class="card-title">Clientes</h5>
                        <h1 class=" text-center text-primary h1-card">61</h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-dark bg-light ">                    
                    <div class="card-body back-white">                        
                        <h5 class="card-title">Produtos</h5>
                        <h1 class="text-center text-primary h1-card">61</h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-dark bg-light ">                    
                    <div class="card-body back-white">                        
                        <h5 class="card-title">Vendas</h5>
                        <h1 class="text-center text-primary h1-card">R$ 30,00</h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-dark bg-light ">                    
                    <div class="card-body back-white">                        
                        <h5 class="card-title">Produtos vendidos</h5>
                        <h1 class="text-center text-primary h1-card">61</h1>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="mt-4">
            <div class="row">
                <div class="col">                    
                    <app-barchart></app-barchart>                    
                </div>
                <div class="col">
                    <app-doughnutchart></app-doughnutchart>
                </div>
            </div>
        </div>
        
    </div>
</div>