/* You can add global styles to this file, and also import other style files */
:root {
    --primary: #0271bc ;        
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.back-white{
    background-color: #fff;
}

.text-primary{
    color: var(--primary);
}

.h1-card{
    font:400 34px/32px Roboto,"Helvetica Neue",sans-serif !important;
    margin:0 0 16px;
}